<div class="container d-flex h-75 mt-2">
    <div class="row justify-content-center align-items-center">
        <div class="card">
            <img class="w-50 h-auto rounded mx-auto" src="~/images/construccion.jpg">
            <div class="card-body">
                <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Regresar</a>
            </div>
        </div>
    </div>
</div>