@{
    ViewData["Title"] = "Menu";
    string imageLibro = ViewBag.ImagenLibro;
    string imageAnimo = ViewBag.ImagenAnimo;
    string fecha = ViewBag.Fecha;
}

<div class="text-center">

    <div class="card-group mt-5">
        <div class="card float-start">

            <figure class="figure">
                <div class="card-img-top">
                    <img src="@imageAnimo" class="w-25 figure-img img-fluid rounded">
                </div>
                <div class="card-body">
                    <figcaption class="figure-caption text-success" style=" font-size:large!important">El último día que jugaste fue el @fecha</figcaption>
                </div>
            </figure>

        </div>
        <div class="card float-end">

            <figure class="figure">
                <div class="card-img-top">
                    <img src="@imageLibro" class="w-25 figure-img img-fluid rounded">
                </div>
                <div class="card-body">
                    <figcaption class="figure-caption" style="font-size:large!important"><a href="@Url.Action("Index", "Preguntas")">Jugar</a></figcaption>
                </div>
            </figure>

        </div>
    </div>

</div>
