@model trivia_gt.Models.ConfiguracionBE

@{
    ViewData["Title"] = "Configuracion";
}


<div class="row m-4">
    <div class="col-md-10">
            @using (Html.BeginForm("Editar", "Configuracion", FormMethod.Post, new { @class = "form-horizontal bg-light", Id = "frmEditarConfiguracion", role = "form", @autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.idConfiguracion, new { @id = "hdidConfiguracion" })

            <div class="card border border-warning border-2">
                <div class="card-header bg-primary">
                    <h5 class="card-title text-center text-white">Configuración</h5>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <label asp-for="urlApi" class="form-label font-weight-bold text-success"></label>
                        <input asp-for="urlApi" class="form-control" />
                        <span asp-validation-for="urlApi" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mt-2">
                        <label asp-for="noGrupo" class="form-label font-weight-bold text-success"></label>
                        <input asp-for="noGrupo" class="form-control" />
                        <span asp-validation-for="noGrupo" class="text-danger"></span>
                    </div>
                </div>

                <div class="card-footer bg-warning mt-2">
                    <div class="text-end">
                        <input type="submit" value="Grabar" class="btn btn-lg btn-group-lg btn-outline-primary" />
                        <a href="@Url.Action("Index", "Home")" class="btn btn-lg btn-group-lg btn-outline-success ms-2">Cerrar</a>
                    </div>
                </div>
                </div>
            }
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
