@model trivia_gt.Models.ConfiguracionBE

@{
    ViewData["Title"] = "Configuracion";
}


<div class="row m-4">
    <div class="card-header align-content-center text-center bg-primary d-block">
        <div class="card border-success overflow-auto">

            @using (Html.BeginForm("Editar", "Configuracion", FormMethod.Post, new { @class = "form-horizontal bg-light", Id = "frmEditarConfiguracion", role = "form", @autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.idConfiguracion, new { @id = "hdidConfiguracion" })

                <div class="p-3 border bg-ligh">
                    <label asp-for="urlApi" class="form-label font-weight-bold text-success"></label>
                    <input asp-for="urlApi" class="form-control" />
                    <span asp-validation-for="urlApi" class="text-danger"></span>
                </div>
                <div class="p-3 border bg-ligh">
                    <label asp-for="noGrupo" class="form-label font-weight-bold text-success"></label>
                    <input asp-for="noGrupo" class="form-control" />
                    <span asp-validation-for="noGrupo" class="text-danger"></span>
                </div>
                <div class="p-3 border bg-ligh">
                    <div class="col-md-1 mb-8">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
