@model trivia_gt.Models.UsuarioBE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <base href="../../../../">
    <meta charset="utf-8">
    <title>Trivia Guatemala | Registro</title>
    <link rel="icon" type="image/x-icon" href="~/images/guate.ico">
    <meta name="description" content="Registro Page TRIVIA">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#563d7c">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/notify/notiflix-3.2.5.min.css" asp-append-version="true" />

</head>
<body>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/notify/notiflix-notify-aio-3.2.5.min.js"></script>
</body>
</html>
