@model trivia_gt.Models.UsuarioBE

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>UsuarioBE</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="form-control" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAvatar" class="control-label"></label>
                <input asp-for="IdAvatar" class="form-control" />
                <span asp-validation-for="IdAvatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRol" class="control-label"></label>
                <input asp-for="IdRol" class="form-control" />
                <span asp-validation-for="IdRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clave" class="control-label"></label>
                <input asp-for="Clave" class="form-control" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="url" class="control-label"></label>
                <input asp-for="url" class="form-control" />
                <span asp-validation-for="url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaUltimaConexion" class="control-label"></label>
                <input asp-for="fechaUltimaConexion" class="form-control" />
                <span asp-validation-for="fechaUltimaConexion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="diasUltimaConexion" class="control-label"></label>
                <input asp-for="diasUltimaConexion" class="form-control" />
                <span asp-validation-for="diasUltimaConexion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
